/*
///////
imports, fonts and initial styles
//////
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #1c2431;
    font-size: 16px;
    color: #ffffff;
}
.raleway{
    font-family: 'Raleway', sans-serif;
}
/*
/////
Navbar
/////
*/
.nav a{
    font-weight: 400;
    margin: 0 20px;
    padding: 0;
    color: #ffffffb3;
    border-bottom: 1px solid transparent;
}
.nav a:hover{
    color: #ffffff;
    border-bottom: 1px solid #fff;
}
.nav a:visited{
    color: #ffffff;
    border-bottom: 1px solid #fff;
}
@media(max-width: 768px){
    .nav a{
        font-size: 90%;
        margin: 0 8px;
    }
}
/*
/////////
Apresentation
/////////
*/
.Apresentation{
    height: 100vh;
    background: url('../img/bg-curvy-desktop.svg') no-repeat bottom;
    background-size: contain;
}