/*
///////
imports, fonts and initial styles
//////
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #181f2a;
    font-size: 14px;
    color: #ffffff;
}
.raleway{
    font-family: 'Raleway', sans-serif;
}
/*
/////
Navbar aditional styles and details
/////
*/
.nav a{
    font-weight: 400;
    font-size: 16px;
    margin: 0 20px;
    padding: 0;
    color: #ffffffb3;
    border-bottom: 1px solid transparent;
}
.nav a:hover{
    color: #ffffff;
    border-bottom: 1px solid #fff;
}
.nav a:visited{
    color: #ffffff;
    border-bottom: 1px solid #fff;
}
@media(max-width: 768px){
    .nav a{
        font-weight: 400;
        font-size: 95%;
        margin: 0 8px;
        padding: 0;
        color: #ffffffb3;
        border-bottom: 1px solid transparent;
    }
}